body {
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  overflow-y: hidden;
  height: 98vh;
}

.chat::-webkit-scrollbar {
  width: 0;
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

.please {
  width: 270px;
  height: 20px;
  border-radius: 15px;
  background-color: #f7f8f9;
  text-align: center;
  margin: auto;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #f7f8f9;
  padding-top: 70px;
  overflow-y: scroll;
  position: relative;
}

.input {
  width: 300px;
  height: 80px;
  background-color: #f7f8f9;
  position: fixed;
  top: 0;
  z-index: 99;
}

.contact {
  width: 260px;
  height: 50px;
  display: flex;
  margin: 5px 3px 0 10px;
  padding: 20px 0 10px 10px;
  cursor: pointer;
  background-color: #f7f8f9;
  font-weight: 600;
}

.contact .date {
  margin: 5px 30px 0 auto;
  opacity: 0.5;
}

.contact:hover,
.active {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #d7dfda;
}

.message-item {
  opacity: 0.4;
  font-size: 0.9em;
}

.inputBlock {
  position: relative;
  width: 200px;
  height: 80px;
  background-color: #f7f8f9;
}

.inputBlock .material-icons {
  position: absolute;
  top: 25px;
  left: 30px;
  opacity: 0.5;
}

.inputSearch {
  width: 220px;
  height: 30px;
  margin: 20px 20px 20px 20px;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 #d7dfda;
  cursor: pointer;
  padding-left: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  opacity: 0.6;
}

.clearIcon {
  margin-left: 210px;
  cursor: pointer;
}

.clear {
  cursor: pointer;
  background-position: center;
  transition: background 0.7s;
}
.clear:hover {
  background-color: #f8f5f5;
  background-image: radial-gradient(circle, transparent 1%, #f8f5f5 1%);
  background-size: 15000%;
}
.clear:active {
  transition: background 0s;
  background-color: gray;
  background-size: 100%;
}

/*styles for chat*/

.chat {
  flex: 3;
  position: relative;
}

.chat-please {
  height: 84vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: auto;
}

::-webkit-scrollbar {
  width: 0;
}

.inbox-message {
  word-wrap: break-word;
  word-break: break-word;
  align-self: flex-start;
  background-color: #f7f8f9;
  border-radius: 15px 15px 15px 0;
  padding: 15px 15px 5px 15px;
  font-size: 0.95em;
  font-weight: 600;
}
.inbox {
  margin: 10px 10px;
  display: flex;
  align-self: flex-start;
  max-width: 70%;
}
.outbox-message {
  word-wrap: break-word;
  word-break: break-word;
  color: white;
  background-color: #633df8;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  margin: 10px 10px;
  border-radius: 15px 15px 0 15px;
  padding: 15px 15px 0 15px;
  font-size: 0.95em;
}

.outbox {
  align-self: flex-end;
  max-width: 70%;
}

.content {
  font-family: "Roboto", sans-serif;
}

.infobox {
  padding: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 20px;
  font-weight: 600;
  align-self: center;
}

.send-form {
  line-height: 17px;
  border: none;
  outline: none;
  width: 91%;
  padding: 0 15px;
  align-self: center;
  overflow-wrap: break-word;
  resize: none;
  word-wrap: break-word;
  word-break: break-word;
}

.form {
  border-top: 1px solid lightgrey;
  display: flex;
}

.send-form {
  width: 90%;
  outline: none;
  border: none;
  margin: 15px 0 0 10px;
}

.scrip {
  width: 5%;
  margin: 5px 22px 0 0;
  cursor: pointer;
  opacity: 0.5;
}

.scrip .material-icons {
  font-size: 1.4rem;
}

.microphone {
  width: 5%;
  margin: 5px 22px 0 0;
  cursor: pointer;
  opacity: 0.5;
}

.sendIcon {
  border-top: 1px solid lightgray;
  display: flex;
  bottom: 0;
  margin: 0 15px 0 15px;
  line-height: 17px;
  outline: none;
  width: 95%;
  padding: 0 15px;
  align-self: center;
  overflow-wrap: break-word;
  resize: none;
  word-wrap: break-word;
  word-break: break-word;
}

.sendIcon-enter {
  transform: scale(0);
}
.sendIcon-enter-active {
  transform: scale(1);
  transition: 100ms;
}
.sendIcon-exit {
  transform: scale(1);
}
.sendIcon-exit-active {
  transform: scale(0);
  transition: 100ms;
}

.check-message .check {
  font-size: 0.7em;
}

.date-check {
  display: flex;
  justify-content: right;
  margin-left: 120px;
}

.date {
  margin: 3px 5px 0 0;
  font-size: 0.65em;
  font-weight: 600;
  text-align: right;
}

/*header-chat*/

.header-chat {
  border-bottom: 1px solid lightgrey;
  margin: 0 0 5px 0;
  display: flex;
}

.autorenew {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.search-message-open {
  align-items: center;
  transition: 0.5s;
  border: 1px solid #e3e3e3;
  display: flex;
}

.search-message-open input,
.search-message-close input {
  border: none;
  outline: none;
}

.search-message-close {
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  width: 30px;
}

.search-message-open {
  align-items: center;
  transition: 0.5s;
  border: 1px solid #e3e3e3;
  display: flex;
}

.search-message-open i,
.search-message-close i {
  font-size: 20px;
  color: gray;
}
.search-message-open input,
.search-message-close input {
  border: none;
  outline: none;
}

.search-message {
  display: flex;
  flex: 0.35;
  padding-left: 10px;
}

.header-name {
  margin: 5px auto 0 0;
}

.settings-profile .material-icons {
  width: 25px;
  height: 25px;
  color: #a4b5cc;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 50%;
}

.icon {
  padding: 2px 5px;
  display: flex;
}

.block-name {
  display: flex;
  position: relative;
  font-weight: 600;
  margin-left: 200px;
}

.block-name .online {
  right: -15px;
  top: 4px;
}

.updating {
  margin: auto;
  display: flex;
  width: 300px;
  align-content: center;
}

.up {
  font-size: 1.1em;
  margin-right: 5px;
  font-family: "Roboto", sans-serif;
}

.send {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  background-color: #fff;
}

.click {
  cursor: pointer;
  background-position: center;
  transition: background 0.7s;
}

.click:hover {
  background-color: #f8f5f5;
  background-image: radial-gradient(circle, transparent 1%, #f8f5f5 1%);
  background-size: 15000%;
}

.click:active {
  transition: background 0s;
  background-color: gray;
  background-size: 100%;
}

/*skeleton*/

.skeleton-contact {
  padding: 15px 10px;
  position: relative;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.skeleton-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.skeleton {
  margin-top: 10px;
  width: 80%;
}

/*avatar*/

.avatar-profile {
  margin: auto;
  background: linear-gradient(0deg, #74a4e8, #b0e7f8);
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: 500;
}

.avatar {
  position: relative;
}

.online {
  border: 1px solid white;
  right: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #12dd12;
  border-radius: 50%;
}

.small {
  min-width: 30px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 30px 10px 0 0;
}

.medium {
  min-width: 40px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  margin: 0 9px 0 10px;
}

.large {
  font-size: 30px;
  min-width: 80px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 50px auto 20px auto;
}

/*profile*/

.communication {
  margin: auto;
  padding-top: 10px;
}

.communication-item {
  display: flex;
  margin: 20px 0 0 25px;
}

.communication .material-icons {
  color: #a4b5cc;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 35px;
}

.social-block {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: white;
}

.profile-icons i {
  color: #a4b5cc;
  margin: auto;
}

.social-icons {
  padding: 15px 0 0 10px;
  opacity: 0.4;
}

.social-icons i {
  padding-right: 10px;
}

.name-profile,
.username {
  text-align: center;
  margin: 10px 0 0 0;
}

.profile-social {
  margin: 50px 0 0 0;
}

.profile-social div {
  margin: 0 0 10px 0;
}

.media {
  margin: 40px 0 0 0;
}

.file {
  width: 240px;
  height: 50px;
  background-color: #fff;
  display: flex;
  margin: 10px 0 0 0;
  padding: 10px 0 0 10px;
  border-radius: 5px;
}

.fileName-image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(0deg, #74a4e8, #b0e7f8);
}

.fileName {
  margin: 10px 0 0 10px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
