.App {
  display: flex;
}

.please {
  width: 270px;
  height: 20px;
  border-radius: 15px;
  background-color: #f7f8f9;
  text-align: center;
  margin: auto;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #f7f8f9;
  padding-top: 70px;
  overflow-y: scroll;
  position: relative;
}

.input {
  width: 300px;
  height: 80px;
  background-color: #f7f8f9;
  position: fixed;
  top: 0;
  z-index: 99;
}

.contact {
  width: 260px;
  height: 50px;
  display: flex;
  margin: auto;
  padding: 20px 0 10px 10px;
  cursor: pointer;
  background-color: #f7f8f9;
  font-weight: 600;
}

.contact .date {
  margin: 5px 30px 0 auto;
}

.contact:hover,
.active {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #d7dfda;
}

.block-contact {
}

.date {
  font-size: 0.65em;
  font-weight: 600;
  text-align: right;
  opacity: .4;
}

.message-item {
  opacity: .4;
}

.inputBlock {
  position: relative;
  width: 200px;
  height: 80px;
  background-color: #f7f8f9;
}

.inputBlock .material-icons {
  position: absolute;
  top: 25px;
  left: 30px;
  opacity: 0.5;
}

.inputSearch {
  width: 220px;
  height: 30px;
  margin: 20px 20px 20px 20px;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 #d7dfda;
  cursor: pointer;
  padding-left: 30px;
}

.clear {
  cursor: pointer;
  background-position: center;
  transition: background 0.7s;
}
.clear:hover {
  background-color: #f8f5f5;
  background-image: radial-gradient(circle, transparent 1%, #f8f5f5 1%);
  background-size: 15000%;
}
.clear:active {
  transition: background 0s;
  background-color: gray;
  background-size: 100%;
}

/*styles for chat*/

.chat {
  flex: 3;
  position: relative;
}

.chat-please {
  height: 95vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: auto;
}

::-webkit-scrollbar {
  width: 0;
}

.inbox-message {
  word-wrap: break-word;
  word-break: break-word;
  align-self: flex-start;
  background-color: #f7f8f9;
  border-radius: 15px 15px 15px 0;
  padding: 15px;
}
.inbox {
  margin: 10px 10px;
  display: flex;
  align-self: flex-start;
  max-width: 70%;
}
.outbox-message {
  word-wrap: break-word;
  word-break: break-word;
  color: white;
  background-color: #633df8;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  margin: 10px 10px;
  border-radius: 15px 15px 0 15px;
  padding: 15px;
}

.outbox {
  align-self: flex-end;
  max-width: 70%;
}

.infobox {
  padding: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 20px;
  font-weight: 600;
  align-self: center;
}

.send-form {
  line-height: 17px;
  border: none;
  outline: none;
  width: 91%;
  padding: 0 15px;
  align-self: center;
  overflow-wrap: break-word;
  resize: none;
  word-wrap: break-word;
  word-break: break-word;
}

.form {
  border-top: 1px solid lightgrey;
  display: flex;
  bottom: 0;
}

.send-form input {
  width: 90%;
  outline: none;
  border: none;
  margin: 15px 0 0 10px;
}

.scrip {
  width: 5%;
  font-size: 0.5em;
  margin: 15px 0 0 0;
  cursor: pointer;
  opacity: 0.5;
}

.scrip .material-icons {
  font-size: 1.4rem;
}

.microphone {
  width: 5%;
  margin: 15px 0 0 0;
  cursor: pointer;
  opacity: 0.5;
}

/*header-chat*/

.header-chat {
  border-bottom: 1px solid lightgrey;
  margin: 0 0 5px 0;
  display: flex;
}

.autorenew {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.search-message {
  position: relative;
}

.search-message .material-icons {
  color: #a4b5cc;
  padding: 0 0 10px 10px;
  margin: auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.search-message input {
  outline: none;
  border: none;
}

.settings-profile .material-icons {
  color: #a4b5cc;
  padding: 0 0 10px 10px;
  margin: auto;
  cursor: pointer;
}

.block-name {
  margin: auto;
  font-weight: 600;
  display: flex;
  position: relative;
}

.block-name .online {
  right: -15px;
  top: 4px;
}

.updating {
  margin: auto;
}

/*avatar*/

.avatar-profile {
  margin: auto;
  background: linear-gradient(0deg, #74a4e8, #b0e7f8);
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: 500;
}

.avatar {
  position: relative;
}

.online {
  border: 1px solid white;
  right: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #12dd12;
  border-radius: 50%;
}

.small {
  min-width: 30px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 30px 10px 0 0;
}

.medium {
  min-width: 40px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  margin: 0 9px 0 10px;
}

.large {
  font-size: 30px;
  min-width: 80px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 50px auto 20px auto;
}

/*profile*/

.profile-contact {
  width: 350px;
  background-color: #f7f8f9;
  padding: 30px 25px 0 25px;
}

.communication {
  margin: auto;
  padding-top: 10px;
}

.communication-item {
  display: flex;
  margin: 20px 0 0 25px;
}

.communication .material-icons {
  color: #a4b5cc;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 25px;
}

.social-block{
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: white;
}

.profile-icons i {
  color: #a4b5cc;
  margin: auto;
}

.social-icons {
  padding: 15px 0 0 10px;
  opacity: .4;
}

.social-icons i {
  padding-right: 10px;
}

.name-profile,
.username {
  text-align: center;
  margin: 10px 0 0 0;
}

.profile-social {
  margin: 50px 0 0 0;
}

.profile-social div {
  margin: 0 0 10px 0;
}

.closed-profile {
  transition: 600ms;
  transform-origin: right;
  width: 0;
  transform: scaleX(0);
  background-color: whitesmoke;
}
.open-profile {
  transition: 600ms;
  transform-origin: right;
  transform: scaleX(1);
  overflow-y: scroll;
  background-color: whitesmoke;
  width: 20%;
  padding: 30px 25px 0 25px;
}

.media {
  margin: 40px 0 0 0;
}

.file {
  width: 240px;
  height: 50px;
  background-color: #fff;
  display: flex;
  margin: 10px 0 0 0;
  padding: 10px 0 0 10px;
  border-radius: 5px;
}

.fileName-image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(0deg, #74a4e8, #b0e7f8);
}

.fileName {
  margin: 10px 0 0 10px;
}

/*анимации*/

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
